<div clas="jumbotron text-center">
  <h1>MEAN auth app yess</h1>
  <p class ="lead">Welcome TO HELL!</p>
  <div>
    <a class="btn btn-primary" [routerLink]="['/home']">Register</a> <a class=""></a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Express Backend</h3>
    <p> adwawd awdda wawd  adw awd adwawd awd  awdawd awd  dwa wad wda</p>
  </div>
  <div class="col-md-4">
    <h3>Angular Backend</h3>
    <p> adwawd awdda wawd  adw awd adwawd awd  awdawd awd  dwa wad wda</p>
  </div>
  <div class="col-md-4">
    <h3>JWT Backend</h3>
    <p> adwawd awdda wawd  adw awd adwawd awd  awdawd awd  dwa wad wda</p>
  </div>
</div>